@import "../../../styles/settings.scss";

/* Style the navbar */
.navbar {
  overflow: hidden;
  background-color: #e2e2e2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.compare {
  left: 44%;
  top: 87%;
  position: absolute;
}

.image {
  padding: 80px;
}

.button {
  left: 78%;
  top: 20%;
  position: absolute;
}
