@import "../../../styles/settings.scss";

/* Style the navbar */
.navbar {
  z-index: 2;
  overflow: hidden;
  background-color: #e2e2e2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 2px 3.464px 6px $shadow-color;
}

.compare {
  left: 44%;
  top: 87%;
  position: absolute;
}

.price {
  position: absolute;
  left: 333px;
}

.image {
  padding: 10px;
  margin: 70px;
  box-shadow: 2px 3.464px 6px $shadow-color;
  .name {
    font-weight: 500;
    padding-left: 10px;
  }
  .favorite {
    padding-left: 10px;
    padding-right: 10px;
  }
  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .priceBox {
    display: inline-flex;
    align-items: center;

    & > p {
      margin: 0 6px;
      color: #a5a5a5;
      text-decoration-line: line-through;
      text-decoration-color: #2a2a2a;
    }
  }
}

.button {
  left: 78%;
  top: 20%;
  position: absolute;
}
