@import "../../../styles/settings.scss";

/* Style the navbar */
.navbar {
  overflow: hidden;
  background-color: #e2e2e2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 2px 3.464px 6px $shadow-color;
}

.compare {
  left: 44%;
  top: 87%;
  position: absolute;
}

.image {
  padding: 10px;
  margin: 70px;
  box-shadow: 2px 3.464px 6px $shadow-color;
}

.button {
  left: 78%;
  top: 20%;
  position: absolute;
}
