//DO NOT USE!!

$darkerGray: #292929;
$darkGray: #2a2a2a;
$mediumDarkgray: #363636;
$gray: #434343;
$mediumLightGray: #b6b6b6;
$orange: #d58e32;
$white: #ffffff;

//DO NOT USE!!

$base-padding: 24px;

$header-topbar-bg: $gray;
$header-bg: $mediumDarkgray;

$footer-claim-bg: $darkGray;
$footer-bg: $mediumDarkgray;

$primary: $orange;

$text-color: $darkGray;
$text-color-light: $white;

$form-border-color: $darkerGray;
