//DO NOT USE!!

$darkerGray: #292929;
$darkGray: #2a2a2a; // same as rgb(42,42,42)
$mediumDarkgray: #363636;
$gray: #434343;
$linkGray: rgb(169, 169, 169);
$mediumLightGray: #b6b6b6;
$lightGray: #e1e1e1;
$lighterGray: #e2e2e2;
$linkGray: rgb(169, 169, 169);
$orange: #d58e32;
$white: #ffffff;
$rgbWhite: rgb(224, 227, 237);
$rgbGray: rgb(216, 216, 216);
$mediumWhite: #f4f5f7;
$black: rgba(1, 2, 2, 0.2);
$green: #79AE30;

//DO NOT USE!!

$base-padding: 24px;

$header-topbar-bg: $gray;
$header-bg: $mediumDarkgray;
$footer-claim-bg: $darkGray;
$footer-bg: $mediumDarkgray;
$productBox-bg: $mediumWhite;
$prodactBox-bg: $darkerGray;
$NewFurniture-link-bg: $lightGray;

$bg-color-light: $white;
$bg-color-dark: $darkGray;

$primary: $orange;

$text-color: $darkGray;
$text-color-light: $white;

$companyClaim-link-color: $rgbGray;
$cartCounter-color: $rgbWhite;
$footer-link-color: $linkGray;

$border-color-dark: $darkGray;
$border-color-mediumLight: $mediumLightGray;
$border-color-light: $white;
$form-border-color: $darkerGray;
$productBox-border-color: $lightGray;
$global-border-color: $lighterGray;

//$companyClaimPhone-color: $rgbWhite;

$shadow-color: $black;

//Furniture gallery

$bg-slider-arrow: $darkGray;
$gallery-deal-green: $green;
$gallery-triangle: $darkGray;

//hover animations

$hover-color: $primary;
$hover-text-light: $text-color-light;
$hover-text-dark: $text-color;
$hover-icon-transition: 250ms;
$hover-color-transition: 250ms;

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
@keyframes color-change {
  from {
    color: $text-color-light;
  }
  to {
    color: $primary;
  }
}
@keyframes move {
  from {
    top: 0px;
  }
  to {
    top: -200px;
  }
}
@keyframes fontbulger {
  0%,
  100% {
    font-size: 14px;
  }
  50% {
    font-size: 18px;
  }
}
@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
