//DO NOT USE!!

$darkerGray: #292929;
$darkGray: #2a2a2a;
$gray: #363636;
$lightGray: #434343;
$orange: #d58e32;

//DO NOT USE!!

$base-padding: 24px;

$header-topbar-bg: $lightGray;
$header-bg: $gray;

$footer-claim-bg: $darkGray;
$footer-bg: $gray;

$primary: $orange;

$text-color: $darkGray;

$form-border-color: $darkerGray;
