@import "../../../styles/settings.scss";

.root {
  padding: 2rem 0;

  .rwd {
    [class^="col-"] {

      &,
      &>a {
        display: flex;
        flex-direction: column;
      }
    }

    [class^="col-"]>a {

      &,
      &>div {
        flex-grow: 1;
      }
    }
  }
}
