@import "../../../styles/settings.scss";

.grid {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 210px 210px;
  gap: 30px;

  > div {
    position: relative;
  }

  span {
    font-weight: 300;
  }

  .first {
    grid-row: 1 / span 2;

    img {
      object-fit: cover;
      height: 100%;
    }

    &:before {
      margin: 33px;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: calc(100% - 66px);
      width: calc(100% - 66px);
      background-color: $bg-color-dark;
      opacity: 0.4;
    }

    .left {
      color: $text-color-light;
      position: absolute;
      bottom: 52px;
      left: 52px;

      h1 {
        font-size: 60px;
      }

      h3 {
        font-size: 36px
      }

      .boxed {
        font-size: 50px;
        font-weight: 600px;
        padding: 9px;
        margin-top: 15px;
        border: 5px solid $text-color-light;
        width: max-content;
      }

      > * {
        margin: 0;
        line-height: 1;
      }
    }
  }

  .second {
    grid-row: 1;

    .upperright {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h3 {
        font-size: 30px;
      }

      h4 {
        font-size: 18px;
      }

      h2 {
        font-size: 36px;
        color: $primary;
        font-weight: 600;
      }

      > * {
        margin: 0;
      }
    }
  }

  .third {
    grid-row: 2;

    .thirdContent {
      position: absolute;
      left: calc(100% - 24px);
      top: 50%;
      transform: translate(-100%, -50%);

      h4 {
        width: max-content;
        font-size: 24px;
        margin: 0;
        color: $primary;
      }

      h5 {
        width: max-content;
        margin-left: 15px;
        font-size: 18px;
        font-weight: 300px;
      }
    }
  }

  .second,
  .third {
      img {
      object-fit: cover;
      width: 100%;
    }
  }
}
