@import "../../../styles/settings.scss";

.root {
  margin-top: 50px;
  .hover {
    &:hover {
      .hotdeals {
        color: $primary;
      }
    }
  }

  .sales {
    background-color: $bg-color-light;
    border: 1px solid $productBox-border-color;
    margin-bottom: 2em;
    margin-left: auto;
    min-width: 700px;
    position: relative;
    .button {
      position: absolute;
      opacity: 1;
      top: 64%;
      left: 40%;
      z-index: 1;
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bg-color-dark;
      color: $text-color-light;
      position: absolute;
      right: 0;
      top: 30%;
      width: 700px;
      height: 150px;
      opacity: 0.8;
      .up {
        font-size: 44px;
      }
      .down {
        display: flex;
        justify-content: center;
      }
    }
    img {
      width: 700px;
      max-height: 352px;
    }
    .arrows {
      display: flex;
      margin: 0;
      height: 40px;
      width: 700px;
      .arrow {
        background-color: $bg-color-dark;
        color: $text-color-light;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }

  .hotdeals {
    background-color: $bg-color-dark;
    color: $text-color-light;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
  }
  .dots {
    display: flex;
    border: none;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .dot {
    height: 13px;
    width: 13px;
    max-height: 13px;
    max-width: 13px;
    background-color: #bbb;
    border-radius: 6px;
    display: inline-block;

    &:first-child {
      margin-right: 7px;
    }

    a {
      width: 13px;
      height: 13px;
    }

    &.active,
    &:hover {
      background-color: $hover-color;
      }
   }
}
